<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swiftlet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF03BA871DEC8C3900F5B5EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF03BA9E1DEC8C3900F5B5EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF03BAA91DEC8C3900F5B5EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
